<html>
  <head>
  
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Avion</title>
  



<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="stylesheets/animate.css">
<link rel="stylesheet" type="text/css" href="stylesheets/gallery.css">
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">



<style type="text/css">
  .person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 55%;
    height: 35%;
    opacity: 0.9;
    }
    .person:hover {
        border-color: #f1f1f1;
    }
     p
    {
      font-family: arial;
      font-size: 18px;
      text-align: left;
    }

</style>
</head>
<body>

<nav class="navbar-wrapper navbar-inverse navbar-fixed-top" role="navigation" id="navbar">
      <div class="container">
          <div class="navbar-header">
         <a class="navbar-brand" href="/index" >AVION</a>
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
          </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li ><a href="/"><h3 ><span class="glyphicon glyphicon-home"></span> Home</h3></a></li>
               <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h3 ><span class="glyphicon glyphicon-star"></span >Workshop<b class="caret"></b></h3></a>
                <ul class="dropdown-menu">
                  <li ><a href="/workshops">Workshops</a></li>
                  <li ><a href="/material">Material</a></li>
                  <li ><a href="/learning">Learning</a></li>
                </ul>
              </li>s
               <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h3 ><span class="glyphicon glyphicon-user"></span > About Us<b class="caret"></b></h3></a>
                <ul class="dropdown-menu">
                  <li ><a href="/team">Team</a></li>
                  <li ><a href="/Alumni">Alumni</a></li>
                  <li ><a href="/contact">Contact Us</a></li>
                </ul>
              </li>
             
            </ul>
            
            
          </div>
         </div>
         </div>
</nav>
<br><br><br><br><br><br>

 <div class="container-fluid text-center" >
  <h1>Our Alumni</h1>
    <br><br>
    <div class="row">
      <div class="col-sm-4"></div>    
      <div class="col-sm-4" class="alumni">
       
        
          <img src="images/team/10.jpg" class=" img-circle  person wow animated rollIn" alt="Random Name">
           <h1>Govind Kumar Singh</h1>
        <br>

        <p>A legend who will be remembered for years to come.An over achiever-he is the gold medalist of our batch and also managed to bang the highest package.We wish the founder president of the team avion is successful journey at his job in trident</p>
      </div>
      <div class="col-sm-4"></div> 
    </div>  
    <div class="row">
        <div class="col-sm-1"></div> 
      <div class="col-sm-4" class="alumni">
        
      
          <img src="images/team/8.jpg" class="img-circle  person wow animated bounceInLeft" alt="Random Name">
          <h1>Utkarsh Tiwari</h1>
          <br>
        <p> 
        The Team Manager of team working at Amazon group has landed  the
        2nd highest package from EEE 2k12 batch.He will 
        be remembered for his hardwork an
        great Mangement skills
        </p>
      </div>
      <div class="col-sm-2"></div> 
      <div class="col-sm-4" class="alumni">
       
        
          <img src="images/team/2.jpg" class="img-circle  person wow animated bounceInRight" alt="Random Name">
          <h1>Gaurav Kumar</h1>
          <br>
        
        <p >The Joint President of Team Avion
         now working at Akash Institute Pvt.Limited
          landed the 3rd on campus placement in the college</p>
      </div>
        <div class="col-sm-1"></div> 
    </div>

   
 </div>
  

  <script src="javascripts/jquery.js"></script>
<script src="javascripts/touchswipe.js"></script>
<script src="javascripts/gallery.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/wow.min.js"></script>
  <script src="javascripts/wow.js"></script>
 
</body>
</html>