<html>
  <head>
	<title>Bootstrap 101 Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">

	
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="javascripts/wow.min.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="stylesheets/card1.css">



<script >
  

    new WOW().init();
  </script>
<script >
 
</script>
  </head>
 
  <body data-spy="scroll" data-target=".navbar" data-offset="50">
  <div class="topbar animated fadeInLeftBig"></div>

	<nav class="navbar-wrapper navbar-inverse navbar-fixed-top" role="navigation" id="navbar">
      <div class="container">
      	  <div class="navbar-header">

				<!-- Logo Starts -->
							<a class="navbar-brand" ><h1 style="color:black ">AVION</h1></a>
							
							<!-- #Logo Ends -->


							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>


      	   </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
	        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li ><a href="/"><h3 ><span class="glyphicon glyphicon-home"></span> Home</h3></a></li>
             <li ><a href="/users"><h3 ><span class="glyphicon glyphicon-star"></span> Tutorials</h3></a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h3 ><span class="glyphicon glyphicon-user"></span> About Us<b class="caret"></b></h3></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Worskshops</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </li>
               <li><a href="#"><h3 ><span class="glyphicon glyphicon-question-sign"></span>F.A.Q</h3></a></li>
            </ul>
            
            
          </div>
				 </div>
				 </div>
				 </nav>
          <br><br><br> <br><br><br><br> <br>

<div class="container" >
<div class="row"> 
<div class="col-lg-8">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="images/avion.jpg" style="width: 1200px" alt="New York">
      
    </div>

    <div class="item">
      <img src="images/avion.jpg" style="width: 1200px" alt="Chicago">
      </div>
    <div class="item">
      <img src="images/avion.jpg" style="width: 1200px" alt="Chicago">
      
        
    </div>

    <div class="item">
      <img src="images/avion.jpg" style="width: 1200px" alt="Los Angeles">
      
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
<div class="col lg-4  bit">
    <div class="head">
      <h1>Panda</H1>
    </div>
    <br><br>
      <div class="divider"></div>
      <p>
        The heart is a muscular organ in humans and other animals, which pumps blood through the blood vessels of the circulatory system.[1] Blood provides the body with oxygen and nutrients, as well as assists in the removal of metabolic wastes.[2] In humans, the heart is located between the lungs, in the middle compartment of the chest.[3]

In humans, other mammals, and birds, the heart is divided into four chambers: upper left and right atria; and lower left and right ventricles.[4][5] Commonly the right atrium and ventricle are referred together as the right heart and their left counterparts as the left heart.[6] Fish, in contrast, have two chambers, an atrium and a ventricle, while reptiles have three chambers.[5] In a healthy heart blood flows one way through the heart due to heart valves, which prevent backflow.[3] The heart is enclosed in a protective sac, the pericardium, which also contains a small amount of fluid. The wall of the heart is made up of three layers: epicardium, myocardium, and endocardium.[7]


      </p>
  </div>
</div>

</div>
</div>
<br><br><br>
<div class="container center  wow animated fadeInUp"  >
<div class="   row">
 <div class="col-sm-6 center " >
 <div id="main2">
   <h2><i class="fa fa-eye"></i> Pikachu</h2>
   <br><br>
   <p  >
    The heart is a muscular organ in humans and other animals, which pumps blood through the blood vessels of the circulatory system.[1] Blood provides the body with oxygen and nutrients, as well as assists in the removal of metabolic wastes.[2] In humans, the heart is located between the lungs, in the middle compartment of the chest.[3]

In humans, other mammals, and birds, the heart is divided into four chambers: upper left and right atria; and lower left and right ventricles.[4][5] Commonly the right atrium and ventricle are referred together as the right heart and their left counterparts as the left heart.[6] Fish, in contrast, have two chambers, an atrium and a ventricle, while reptiles have three chambers.[5] In a healthy heart blood flows one way through the heart due to heart valves, which prevent backflow.[3] The heart is enclosed in a protective sac, the pericardium, which also contains a small amount of fluid. The wall of the heart is made up of three layers: epicardium, myocardium, and endocardiu     
    <br>
    <br>
    
    
  </p>
  </div>

</div>
<div class="col-sm-6 center" >
<div id="main2">
 <h2><i class="fa fa-history"></i> Pikachu</h2>
 <br><br>
 
 <p >  
   The heart is a muscular organ in humans and other animals, which pumps blood through the blood vessels of the circulatory system.[1] Blood provides the body with oxygen and nutrients, as well as assists in the removal of metabolic wastes.[2] In humans, the heart is located between the lungs, in the middle compartment of the chest.[3]

In humans, other mammals, and birds, the heart is divided into four chambers: upper left and right atria; and lower left and right ventricles.[4][5] Commonly the right atrium and ventricle are referred together as the right heart and their left counterparts as the left heart.[6] Fish, in contrast, have two chambers, an atrium and a ventricle, while reptiles have three chambers.[5] In a healthy heart blood flows one way through the heart due to heart valves, which prevent backflow.[3] The heart is enclosed in a protective sac, the pericardium, which also contains a small amount of fluid. The wall of the heart is made up of three layers: epicardium, myocardium, and endocardium.
<br><br>
 </p>    
 </div>
</div>
  
  
</div>
</div>

        

       <br><br><br> <br><br><br> <br><br><br> <br><br><br> <br><br>
        <div id="about"  class="center container-fluid spacer about">
			    <h2 class="text-center animated wowload fadeInUp">AVION<br> BIT Mesra</h2>  
         </div>

         <br><br><br><br><br><br><br><br><br><br><br><br>
         <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    
                      <h3 class="workshops animated wowload fadeInUp">Our Workshops</h3>
           
                </div>
            </div>
        </div>
 </section>
        <br>
  <br><br><br>
  
        
        

    


<div class="container">
  <div class="flex-row row ">


    <div class=" col-lg-6 animated wow fadeInLeft ">
      <div class="thumbnail">
      <img src="images/machine.jpg" class="image" style="height: 350px" alt="machine learning"></img>
                        <h3 class="heading text-center">ML</h3>
        <div class="caption ">
          
          <p class="flex-text text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. asdfasdfasdfsdfa asdfasdf sdfasfasdfasfasdfasdfasdfsd asdf asdf Distinctio, evenietsdf sdfsdfsdfsdfsdfsdf.
          </p>
          <p><a class="readmore" href="#">Read more</a></p>
        </div>
        <!-- /.caption -->
      </div>
      <!-- /.thumbnail -->
    </div>


    <div class=" col-lg-6 animated wow fadeInRight">
      <div class="thumbnail">
       <img src="images/wama.jpg" class="image" style="height: 350px" alt="WORKSHOP ON ADVANCED MICROCONTROLLER AND APPLICATIONS"></img>
                        <h3 class="heading text-center">WAMA</h3>
        <div class="caption ">
          
          <p class="flex-text text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. asdfasdfasdfsdfa asdfasdf sdfasfasdfasfasdfasdfasdfsd asdf asdf Distinctio, evenietsdf sdfsdfsdfsdfsdfsdf.
          </p>
          <p><a class="readmore" href="views/workshop.ejs">Read more</a></p>
        </div>
        <!-- /.caption -->
      </div>
      <!-- /.thumbnail -->
    </div>


    

  </div>
  <!-- /.flex-row  -->
</div>
<!-- /.container  -->


  <!--Contact Starts-->
  <br>
  <br>
  <div class="container center">
  
 

  <div class="row wow animated fadeInLeftBig center">      
      <center>
        <h2 class="text-center">Contact Us On</h2>
        <br>
        <div class="btn-group">
          <a href="" class="btn-lg btn-primary" role="button"><i class="fa fa-facebook"></i> Facebook</a>
          <br><br><br>
          <button title=" mail" class="btn-lg btn-success"><i class="fa fa-envelope"></i> Gmail</button>
        </div>
     
      <br>
      <br>
     
      <br>
      <h2> Or Call at </h2>
      <h4><i class="fa fa-phone"></i>panda : 000000999999 </h4>
      <h4><i class="fa fa-phone"></i>pikachu  :  000000999999 </h4>
   </center>
 </div>

  </div>


<br><br><br><br><br><br><br><br><br><br><br><br>



        <div class="container">
 
  <div class="row">
    <div class="col-md-12">
      <div class="carousel slide multi-item-carousel" id="theCarousel">
        <div class="carousel-inner">
          <div class="item active">
            <div class="col-xs-4"><a href="#1"><img src="images/13.jpg" class="img-circle img-responsive"></a></div>
          </div>
          <div class="item">
            <div class="col-xs-4"><a href="#1"><img src="images/13.jpg" class="img-circle img-responsive"></a></div>
          </div>
          <div class="item">
            <div class="col-xs-4"><a href="#1"><img src="images/13.jpg" class="img-responsive"></a></div>
          </div>
          <div class="item">
            <div class="col-xs-4"><a href="#1"><img src="images/13.jpg" class="img-responsive"></a></div>
          </div>
          <div class="item">
            <div class="col-xs-4"><a href="#1"><img src="images/13.jpg" class="img-responsive"></a></div>
          </div>
          <div class="item">
            <div class="col-xs-4"><a href="#1"><img src="images/13.jpg" class="img-responsive"></a></div>
          </div>
          <div class="item">
            <div class="col-xs-4"><a href="#1"><img src="images/13.jpg" class="img-responsive"></a></div>
          </div>
        </div>
        <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
      </div>
    </div>
  </div>
</div>
<br><br><br><br>
<div class="footer text-center spacer">

  <p class="wowload flipInX"><a href=""><i class="fa fa-facebook fa-2x"></i></a> <a title="" href="#"><i class="fa fa-envelope fa-2x"></i></a>  </p>
  <br>
  <h4 style="color: black">Designed & Developed By : <a href=""></a></h4>
</div>




<script >
wow = new WOW(
                      {
                      boxClass:     'wow',      // default
                      animateClass: 'animated', // default
                      offset:       0,          // default
                      mobile:       true,       // default
                      live:         true        // default
                    }
                    )
                    wow.init();
</script>
<script type="text/javascript">
  
  $('.multi-item-carousel').carousel({
  interval: false
});

// for every slide in carousel, copy the next slide's item in the slide.
// Do the same for the next, next item.
$('.multi-item-carousel .item').each(function(){
  var next = $(this).next();
  if (!next.length) {
    next = $(this).siblings(':first');
  }
  next.children(':first-child').clone().appendTo($(this));
  
  if (next.next().length>0) {
    next.next().children(':first-child').clone().appendTo($(this));
  } else {
    $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
  }
});
</script>
     	
 	<script src="//code.jquery.com/jquery.js"></script>
  	<script src="js/bootstrap.min.js"></script>
  </body>
</html>
