<html>
  <head>
	<title>Avion</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="javascripts/wow.min.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="stylesheets/card1.css">
<link rel="stylesheet" type="text/css" href="stylesheets/contact.css">
<script src="javascripts/wow.js"></script>
<script src="javascripts/contact.js"></script>
</head>


<body data-spy="scroll" data-target=".navbar" data-offset="50">
  <div class="topbar animated wowfadeInLeftBig"></div>
   <nav class="navbar-wrapper navbar-inverse navbar-fixed-top" role="navigation" id="navbar">
      <div class="container">
      	  <div class="navbar-header">
          
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
               <a class="navbar-brand" href="/index" >AVION</a>
          </div>
         
            <div class="collapse navbar-collapse navbar-ex1-collapse" id="mynavbar">
	        
            <ul class="nav navbar-nav navbar-right">
              <li ><a href="/"><h3 ><span class="glyphicon glyphicon-home"></span> Home</h3></a></li>
               <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h3 ><span class="glyphicon glyphicon-star"></span >Workshop<b class="caret"></b></h3></a>
                <ul class="dropdown-menu">
                  <li ><a href="/workshops">Workshops</a></li>
                  <li ><a href="/material">Material</a></li>
                  <li ><a href="/learning">Learning</a></li>
                </ul>
              </li>s
               <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h3 ><span class="glyphicon glyphicon-user"></span > About Us<b class="caret"></b></h3></a>
                <ul class="dropdown-menu">
                  <li ><a href="/team">Team</a></li>
                  <li ><a href="/Alumni">Alumni</a></li>
                  <li ><a href="/contact">Contact Us</a></li>
                </ul>
              </li>
             
            </ul>
            
            
         
				 </div>
				 </div>
</nav>

          <br><br><br> <br><br><br><br> <br>

<div class="container" >
<div class="row"> 
<div class= col-xs-12 ">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="images/23.jpg" style="width: 1200px" alt="img 01">
    </div>
     <div class="item">
      <img src="images/wk/9.jpg" style="width: 1200px" alt="img 02">
      </div>
      <div class="item">
      <img src="images/22.jpg" style="width: 700px;height: 500px" alt="img 03">
      </div>
<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
</div>
</div>
</div>

<br><br>
<div class="container-fluid">

      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      <div class="masthead">
      
        <nav>
        <div class="nav nav-justified">
          <ul class="nav nav-justified">
           <li class=""><a href="/"><span class="glyphicon glyphicon-home"></span><strong>Home</strong></a></li>
               <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-star"></span ><strong>Learning
                </strong><b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li ><a href="/workshops">Workshops</a></li>
                  <li ><a href="/material">Material</a></li>
                  <li ><a href="/learning">Learning</a></li>
                </ul>
              </li>
               <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span > <strong>About Us
                </strong><b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li ><a href="/team">Team</a></li>
                  <li ><a href="/Alumni">Alumni</a></li>
                  <li ><a href="/contact">Contact Us</a></li>
                </ul>
              </li>
            
            
          </ul>
          </div>
        </nav>
      </div>

<br><br><br>

<div class="container center  wow animated fadeInUp"  >
<div class="row">
 <div class="col-xs-12 col-sm-6 center" >
<div id="main2">
 <h2><i class="fa fa-group"></i> About the team</h2>
 <br><br>
 
 <p >  
   Team avion is a student run group of highly motivated undergraduate students from diverse
majors from mechanical engineering to physics of Birla institute of technology,Mesra.
The team's objective is to explore the untrodden avenues of robotics and machine learning,
promote robotics and machine learning by conducting hands-on workshops on these topics. Our
common perspective that <strong>"knowledge and experience are the two most important things to
attain the impossible"</strong><br> is what brings us together for the love of robotics and machine learning
through the creative and practical method of learning so as to contribute to the practical
approaches to the day to day applications.

 <a  role="button" data-toggle="collapse" href="#collapse2" aria-expanded="false" aria-controls="collapseExample">
            <i>Read more</i>
          </a>
<div class="collapse" id="collapse2">
           <div >
            <p>
              We participate in technical events at a national level in IIT Bombay(techfest),iit
kharagpur(kshitij), but the prime motive here does not revolve around any particular
competition,. Rather, the team prefers to continually evolve by finding exciting new opportunities
for challenge. The aim has and always will be the same- that of constant learning and real
practical experience. 
              
              <br>
              <br>
              <br>
              <br>

            </p>
          </div>
        </div>
 </p>    
 </div>
</div>
<div class="col-xs-12 col-sm-6 center" >
<div id="main2">
 <h2><span class="glyphicon glyphicon-th-list"></span> Objectives</h2>
 <br><br>
 
 <p >  
   Team avion is a student run group of highly motivated undergraduate students from diverse
majors from mechanical engineering to physics of Birla institute of technology,Mesra.
The team's objective is to explore the untrodden avenues of robotics and machine learning,
promote robotics and machine learning by conducting hands-on workshops on these topics. Our
common perspective that "knowledge and experience are the two most important things to
attain the impossible" is what brings us together for the love of robotics and machine learning
through the creative and practical method of learning so as to contribute to the practical
approaches to the day to day applications.

 <a  role="button" data-toggle="collapse" href="#collapse1" aria-expanded="false" aria-controls="collapseExample">
            <i>Read more</i>
          </a>
<div class="collapse" id="collapse1">
           <div >
            <p>
              We participate in technical events at a national level in IIT Bombay(techfest),iit
kharagpur(kshitij), but the prime motive here does not revolve around any particular
competition,. Rather, the team prefers to continually evolve by finding exciting new opportunities
for challenge. The aim has and always will be the same- that of constant learning and real
practical experience. 
              
              <br>
              <br>
              <br>
              <br>

            </p>
          </div>
        </div>
 </p>    
 </div>
</div>
</div>
</div>




        

       <br><br><br> 

       
			    <h2 class="text-center animated wow tada" style="font-size: 60px">What we do</h2>  
        

         <br><br><br><br><br>

         <div class="container">
         <div class="row text-center">
         <div class="col-xs-6 ">
         <div class="animated wow zoomIn" data-wow-duration="1s" data-wow-offset="100">
                  <div class="animated wow tada" data-wow-delay="1s" data-wow-duration="1s">
                    <div class="animated wow rubberBand" data-wow-delay="2000ms" data-wow-duration="1s">
                      <div class="animated wow pulse" data-wow-delay="300ms" data-wow-iteration="infinite" data-wow-duration="2s">
         <span class="glyphicon glyphicon-wrench  "   style="font-size: 50px"></span>
         </div>
         </div>
         </div>
         </div>
         <br>
         <h1>ML</h1>
         </div>
         <div class="col-xs-6">
          <div class="animated wow zoomIn" data-wow-duration="1s" data-wow-offset="100">
                  <div class="animated wow tada" data-wow-delay="1s" data-wow-duration="1s">
                    <div class="animated wow rubberBand" data-wow-delay="2000ms" data-wow-duration="1s">
                      <div class="animated wow pulse" data-wow-delay="300ms" data-wow-iteration="infinite" data-wow-duration="2s">
          <span class="glyphicon glyphicon-wrench "  style="font-size: 50px"></span>
         <br>
         </div>
         </div>
         </div>
         </div>
         <h1>WAMA</h1>
         </div>
         </div>
         </div>
         </div>

         <br><br><br>
  
        
        

    


<div class="container">
  <div class="flex-row row ">
    <div class=" col-xs-12 col-md-6 animated wow bounceInLeft ">
        <div class="thumbnail">
      <img src="images/machine.jpg" class="image img-responsive" style="height: 350px"  alt="machine learning"></img>
                        <h3 class="heading text-center">ML</h3>
        <div class="caption ">
          
          <p class="flex-text text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. asdfasdfasdfsdfa asdfasdf sdfasfasdfasfasdfasdfasdfsd asdf asdf Distinctio, evenietsdf sdfsdfsdfsdfsdfsdf.
          </p>
          <p><a class="readmore" href="/workshops">Read more</a></p>
        </div>
       
      </div>
      </div>


    <div class=" col-xs-12 col-md-6 animated wow bounceInRight">
      <div class="thumbnail">
       <img src="images/wama.jpg" class="image img-responsive" style="height: 350px" alt="WORKSHOP ON ADVANCED MICROCONTROLLER AND APPLICATIONS"></img>
                        <h3 class="heading text-center">WAMA</h3>
        <div class="caption ">
          
          <p class="flex-text text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. asdfasdfasdfsdfa asdfasdf sdfasfasdfasfasdfasdfasdfsd asdf asdf Distinctio, evenietsdf sdfsdfsdfsdfsdfsdf.
          </p>
          <p><a class="readmore" href="/workshops">Read more</a></p>
        </div>
        
      </div>
      </div>
      </div>
</div>


<div class="container">

  <h1>workshop slides</h1>
  <button type="button" class="btn btn-lg btn-primary btn-block">Download</button>
</div>


  <!--Contact Starts-->
  <br>
  <br>
  

<br><br><br><br><br><br>

<div class="container" style="border-radius: 25px">
 <h1 class="text-center">Image gallery</h1>
 <br><br><br>
  <div class="container gallery">
      <div id="carousel">
     <figure><a href="/workshops"><img src="images/wk/8.jpg" style="width: 200px;height: 150px" alt=""></a></figure>
       <figure><a href="/workshops"><img src="images/wk/2.jpg" style="width: 200px;height: 150px" alt=""></a></figure>
       <figure><a href="/workshops"><img src="images/wk/3.jpg" style="width: 200px;height: 150px" alt=""></a></figure>
       <figure><a href="/workshops"><img src="images/wk/5.jpg" style="width: 200px;height: 150px" alt=""></a></figure>
       <figure><a href="/workshops"><img src="images/wk/11.jpg" style="width: 200px;height: 150px" alt=""></a></figure>
       <figure><a href="/workshops"><img src="images/wk/7.jpg" style="width: 200px;height: 150px" alt=""></a></figure>
       <figure><a href="/workshops"><img src="images/wk/9.jpg" style="width: 200px;height: 150px" alt=""></a></figure>
       <figure><a href="/workshops"><img src="images/wk/16.jpg" style="width: 200px;height: 150px" alt=""></a></figure>
      <figure>  <a href="/workshops"><img src="images/wk/6.jpg" style="width: 200px;height: 150px" alt=""></a></figure>

    </div>
  </div>

 <br><br><br><br>
  <div class="row">
    <div class="col-md-12">
      <div class="carousel slide multi-item-carousel" id="theCarousel">
        <div class="carousel-inner">
          
          <div class="item active">
            <div class=" col-xs-12 col-sm-6 col-md-4"><a href="/workshops"><img src="images/wk/5.jpg"  class=" img-responsive"></a></div>
          </div>
          <div class="item">
            <div class="  col-xs-12 col-sm-6 col-md-4"><a href="#1"><img src="images/wk/7.jpg" class="img-responsive"></a></div>
          </div>
          <div class="item ">
            <div class=" col-xs-12 col-sm-6  col-md-4"><a href="#1"><img src="images/wk/8.jpg" class=" img-responsive"></a></div>
          </div>
          <div class="item">
            <div class=" col-xs-12 col-sm-6 col-md-4"><a href="#1"><img src="images/wk/9.jpg" class="img-responsive"></a></div>
          </div>
          <div class="item">
            <div class=" col-xs-12 col-sm-6  col-md-4"><a href="#1"><img src="images/wk/2.jpg" class="img-responsive"></a></div>
          </div>
          <div class="item">
            <div class=" col-xs-12 col-sm-6 col-md-4"><a href="#1"><img src="images/wk/3.jpg" class="img-responsive"></a></div>
          </div>
        </div>
        <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
      </div>
    </div>
  </div>
</div>

       
<br><br><br>
<div id="contact">

<h1 style="text-align: center ;color:black">Connect with us</h1>
<br><br>
        <div class="container">
        <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-4">
        <br><br>
          <p><span class="glyphicon glyphicon-map-marker"></span>Jharkhand, India</p>
          <p><span class="glyphicon glyphicon-phone"></span>Phone:</p>
          <p><span class="glyphicon glyphicon-envelope"></span>Email:avionbitmesra@gmail.com </p> 
          <p><a href="#"><span class="fa fa-facebook"></span>facebook:team avion</a></p> 
          <p>For more details<a href="/contact"><button class="btn btn-success btn-md">click here</button></a></p>
        </div>
            <div class="col-xs-1"></div>
        <div class="col-xs-6">
        
        <fieldset>
        <input id="to" class="form form-control"  type="text" placeholder="Enter ur E-mail ID " />
        <br>
        <input id="subject" class="form form-control" type="text" placeholder="Write Subject" />
        <br>
        <textarea id="content" class="form form-control"  cols="40" rows="7" placeholder="Write what you want to send"></textarea>
        <br>
        
         </fieldset>
        <button id="send_email" type="button" class="btn btn-success btn-block btn-lg" data-toggle="modal" data-target="#myModal">
        <i class="fa fa-paper-plane-o">send</i></button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Successfully sent</h4>
        </div>
        <div id="message" class="modal-body">
         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  </div>
 </div>
 </div>
 </div>
   <br><br><br>
<div id="googleMap"></div>
</div>
 </div>
</div>

<div class="footer text-center spacer">

  <p class="wowload flipInX"><a href=""><i class="fa fa-facebook fa-2x"></i></a> <a title="" href="#"><i class="fa fa-envelope fa-2x"></i></a>  </p>
  <br>
  <h4 style="color: black">Designed & Developed By : <a href=""></a></h4>
</div>


<div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
                
        <div class="col-sm-4">
         
        </div>
        <div class="col-sm-4">
          
        </div>
      </div>
    </div>



<script>
function myMap() {
var myCenter = new google.maps.LatLng(23.4122599,85.4399411);
var mapProp = {center:myCenter, zoom:12, scrollwheel:false, draggable:true, mapTypeId:google.maps.MapTypeId.ROADMAP};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
var marker = new google.maps.Marker({position:myCenter});
marker.setMap(map);
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5uqvtOdmbT9Dmov5iM3sxhOKXscbwv3k&callback=myMap"></script> 

<script type="text/javascript">
  
  $('.multi-item-carousel').carousel({
  interval: false
});

// for every slide in carousel, copy the next slide's item in the slide.
// Do the same for the next, next item.
$('.multi-item-carousel .item').each(function(){
  var next = $(this).next();
  if (!next.length) {
    next = $(this).siblings(':first');
  }
  next.children(':first-child').clone().appendTo($(this));
  
  if (next.next().length>0) {
    next.next().children(':first-child').clone().appendTo($(this));
  } else {
    $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
  }
});
</script>
     	
 	<script src="//code.jquery.com/jquery.js"></script>
  	<script src="js/bootstrap.min.js"></script>

  </body>
</html>
