<html>
  <head>
	
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Avion</title>
	



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="stylesheets/animate.css">
<link rel="stylesheet" type="text/css" href="stylesheets/gallery.css">
<link rel="stylesheet" type="text/css" href="stylesheets/projects.css">


</head>
<body>

<div class="topbar animated fadeInLeftBig"></div>
<nav class="navbar-wrapper navbar-inverse navbar-fixed-top" role="navigation" id="navbar">
      <div class="container">
          <div class="navbar-header">
          <a class="navbar-brand" href="/index" >AVION</a>
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
          </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li ><a href="/"><h3 ><span class="glyphicon glyphicon-home"></span> Home</h3></a></li>
              <li ><a href="/projects"><h3 ><span class="glyphicon glyphicon-star"></span> projects</h3></a></li>
              <li ><a href="/workshops"><h3 ><span class="glyphicon glyphicon-star"></span>workshops</h3></a></li>
               
               <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h3 ><span class="glyphicon glyphicon-user"></span > About Us<b class="caret"></b></h3></a>
                <ul class="dropdown-menu">
                  <li ><a href="/team">Team</a></li>
                  <li ><a href="/Alumni">Alumni</a></li>
                  <li ><a href="/contact">Contact Us</a></li>
                </ul>
              </li>
             
            </ul>
            
            
          </div>
         </div>
         </div>
</nav>


<br><br>
            <div class="container proj">
            <h1 class="text-center">Projects implemented on Hardware</h1>
           <ul>

           
           <li><i class="fa fa-diamond"></i>Home Automation using GSM</li>

    <li><i class="fa fa-diamond wow bounceIn" data-wow-delay=".1s"></i>Maze Solver Robot</li>
	<li><i class="fa fa-diamond  wow bounceIn" data-wow-delay=".2s"></i>Amphibian Robot</li>
	<li><i class="fa fa-diamond  wow bounceIn" data-wow-delay=".3s"></i>Self Balancing Bot</li>
	<li><i class="fa fa-diamond  wow bounceIn" data-wow-delay=".4s"></i>Ball follower Bot</li>
	<li><i class="fa fa-diamond  wow bounceIn" data-wow-delay=".5s"></i>Hand gesture Bot </li>
	<li><i class="fa fa-diamond  wow bounceIn" data-wow-delay=".6s"></i>Warehouse ( RFID coded objects are placed in their destinations)</li>
	<li><i class="fa fa-diamond  wow bounceIn" data-wow-delay=".7s"></i>Solar Panel Interfacing with Power Grids</li>
	<li><i class="fa fa-diamond  wow bounceIn" data-wow-delay=".8s"></i>Closed Loop Induction Motor Drive with Regenerative Braking</li>
	<li><i class="fa fa-diamond  wow bounceIn" data-wow-delay=".9s"></i>Closed Loop DC Motor Drive</li>
	<li><i class="fa fa-diamond  wow bounceIn" data-wow-delay="1s"></i>Magnetic Levitation</li>
	<li><i class="fa fa-diamond  wow bounceIn" data-wow-delay=".2s"></i>Unmanned Ground Vehicle</li>
	<li><i class="fa fa-diamond  wow bounceIn" data-wow-delay=".3s"></i>Multi-Level Inverter</li>
	<li><i class="fa fa-diamond  wow bounceIn" data-wow-delay=".4s"></i>Unmanned Aerial Vehicle</li>
	<li><i class="fa fa-diamond  wow bounceIn " data-wow-delay=".5s"></i>Current Source Inverter</li>
	<li><i class="fa fa-diamond  wow bounceIn" data-wow-delay=".6s"></i>Voltage Source Inverter</li>
            	</ul>
            </div>

             <div class="container proj">
             <h1 class="text-center">Projects implemented on software</h1>
           <ul>

           
           <li><i class="fa fa-diamond"></i>Home Automation using GSM</li>

    <li><i class="fa fa-diamond wow bounceIn" data-wow-delay=".1s"></i>Machine Learning: Handwriting Recognition, CIFAR 10</li>
	<li><i class="fa fa-diamond  wow bounceIn" data-wow-delay=".2s"></i>Image Processing: Face Detection and Tracking, Velocity Calculation of a

Moving Object</li>
	<li><i class="fa fa-diamond  wow bounceIn" data-wow-delay=".3s"></i>VLSI Design: CADENCE Design Tool</li>
	<li><i class="fa fa-diamond  wow bounceIn" data-wow-delay=".4s"></i>Wideband LNA Design with Active Inductor Matching</li>
	<li><i class="fa fa-diamond  wow bounceIn" data-wow-delay=".5s"></i>CMOS Based Active Inductor and Voltage Controlled Tunable Resistor

Design</li>
	<li><i class="fa fa-diamond  wow bounceIn" data-wow-delay=".6s"></i>Low-Noise Low-Power Phase-locked loop Implementation</li>
	<li><i class="fa fa-diamond  wow bounceIn" data-wow-delay=".7s"></i>Performance Estimation of Delay Elements @45 nm Technology Node</li>
	<li><i class="fa fa-diamond  wow bounceIn" data-wow-delay=".8s"></i>Energy-Efficient Proposal for Digital Clocks in Indian Railways</li>
	
            	</ul>
            </div>




	<script src="javascripts/jquery.js"></script>
<script src="javascripts/touchswipe.js"></script>
<script src="javascripts/gallery.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/wow.min.js"></script>
 	<script src="javascripts/wow.js"></script>



 </body>
</html>