<html>
  <head>
	
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Avion</title>
	



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="stylesheets/animate.css">
<link rel="stylesheet" type="text/css" href="stylesheets/gallery.css">


</head>
<body>

<div class="container">
            <div class="row">
                <div class="col-md-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                        <h3>CLD</h3>
                        <p class="text-muted">CIRCUIT LOGIC DESIGN</p>
                     </div>
                  </div>
                  </div>
                  </div>
                  <div>
            </div>
            <div class="container">
           <ul>

           
           <i class="fa fa-diamond"></i>Home Automation using GSM
    <li><span class="fa fa-diamond">Maze Solver Robot</span></li>
	<li><span class="fa fa-diamond">Amphibian Robot</span></li>
	<span class="fa fa-diamond">Self Balancing Bot</span>
	<span class="fa fa-diamond">Ball follower Bot</span>
	<span class="fa fa-diamond">Hand gesture Bot </span>
	<span class="fa fa-diamond">Warehouse ( RFID coded objects are placed in their destinations)</span>
	<span class="fa fa-diamond">Solar Panel Interfacing with Power Grids.</span>
	<span class="fa fa-diamond">Closed Loop Induction Motor Drive with Regenerative Braking</span>
	<span class="fa fa-diamond">Closed Loop DC Motor Drive</span>
	<span class="fa fa-diamond">Magnetic Levitation</span>
	<span class="fa fa-diamond">Unmanned Ground Vehicle</span>
	<span class="fa fa-diamond">Multi-Level Inverter</span>
	<span class="fa fa-diamond">Unmanned Aerial Vehicle</span>
	<span class="fa fa-diamond">Current Source Inverter</span>
	<span class="fa fa-diamond">Voltage Source Inverter</span>
            	</ul>
            </div>

<li ><h3 ><span class="glyphicon glyphicon-home"></span> Home</h3></li>
<i class="fa fa-diamond" aria-hidden="true"></i>
	<i class="fa fa-home"></i>Home Automation using GSM
    <span class="glyphicon glyphicon-home">Maze Solver Robot</span>
	<span class="fa fa-diamond">Amphibian Robot</span>
	<span class="fa fa-diamond">Self Balancing Bot</span>
	<span class="fa fa-diamond">Ball follower Bot</span>
	<span class="fa fa-diamond">Hand gesture Bot </span>
	<span class="fa fa-diamond">Warehouse ( RFID coded objects are placed in their destinations)</span>
	<span class="fa fa-diamond">Solar Panel Interfacing with Power Grids.</span>
	<span class="fa fa-diamond">Closed Loop Induction Motor Drive with Regenerative Braking</span>
	<span class="fa fa-diamond">Closed Loop DC Motor Drive</span>
	<span class="fa fa-diamond">Magnetic Levitation</span>
	<span class="fa fa-diamond">Unmanned Ground Vehicle</span>
	<span class="fa fa-diamond">Multi-Level Inverter</span>
	<span class="fa fa-diamond">Unmanned Aerial Vehicle</span>
	<span class="fa fa-diamond">Current Source Inverter</span>
	<span class="fa fa-diamond">Voltage Source Inverter</span>


	<script src="javascripts/jquery.js"></script>
<script src="javascripts/touchswipe.js"></script>
<script src="javascripts/gallery.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/wow.min.js"></script>
 	<script src="javascripts/wow.js"></script>



 </body>
</html>