<html>
  <head>
  <title>Bootstrap 101 Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<script src="javascripts/wow.min.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/team.css">
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<script >
  

    new WOW().init();
  </script>


  </head>
 
  <body >

  <nav class="navbar-wrapper navbar-inverse navbar-fixed-top" role="navigation" id="navbar">
      <div class="container">
          <div class="navbar-header">

        <!-- Logo Starts -->
              <a class="navbar-brand" ><h1 style="color:white ">AVION</h1></a>
              
              <!-- #Logo Ends -->


              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>


           </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li ><a href="http://localhost:8080/"><h3 ><span class="glyphicon glyphicon-home"></span> Home</h3></a></li>
              <li ><a href="https://www.w3schools.com/colors/colors_picker.asp"><h3 ><span class="glyphicon glyphicon-star"></span> Tutorials</h3></a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h3 ><span class="glyphicon glyphicon-user"></span> About Us<b class="caret"></b></h3></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Worskshops</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </li>
               <li><a href="#"><h3 ><span class="glyphicon glyphicon-question-sign"></span>F.A.Q</h3></a></li>
            </ul>
            
            
          </div>
         </div>
         </div>
         </nav>


        

       <br><br><br><br><br><br><br> <br><br>



            
            
        </div>
    <div id="team" class="center container spacer ">
  


  <!-- team -->
  <h2 class="text-center animated wowload fadeInUp">OUR TEAM</h2>
  
  <br><br><br><br> 
  <h1 class="text-center animated wowload fadeInUp">Gensec</h1>
<br>
  <div class="k13">
    <div class="row grid team animated wow fadeInUp">  
      <div class=" col-sm-3 col-xs-6">
        <figure class="effect">
          <img src="images/5.jpg" class="img-responsive center team-image" alt="img01"  />
          <figcaption>
            <p><b>Shivam priya</b><br><br>Final Year<br><br><i  class="fa fa-facebook"><a href="https://www.facebook.com/Rashmireddy2807?fref=ts">  </a></i></p>          
          </figcaption>
        </figure>
      </div>

      <div class=" col-sm-3 col-xs-6">
        <figure class="effect">
          <img src="images/5.jpg" class="img-responsive center team-image" alt="img01"  />
          <figcaption>            
            <p><b>Sakshi Agarwal</b><br><br>Final Year<br><br><i  class="fa fa-facebook"><a href="https://www.facebook.com/Rashmireddy2807?fref=ts">  </a></i> </p>            
          </figcaption>
        </figure>
      </div>

      <div class=" col-sm-3 col-xs-6">
        <figure class="effect">
          <img src="images/13.jpg" alt="img01" class="img-responsive  center team-image" />
          <figcaption>
            <p><b>Pujitha Patnaik </b><br><br>Pre Final Year<br><br><i  class="fa fa-facebook"><a href="https://www.facebook.com/Rashmireddy2807?fref=ts">  </a></i> </p>
          </figcaption>
        </figure>
      </div>

      <div class=" col-sm-3 col-xs-6">
        <figure class="effect">
          <img src="images/13.jpg" alt="img01" class="img-responsive center team-image"  />
          <figcaption>
            <p><b>Aslesh Penishetty</b><br><br>Pre Final Year<br><br><i  class="fa fa-facebook"><a href="https://www.facebook.com/Rashmireddy2807?fref=ts">  </a></i> </p>            
          </figcaption>
        </figure>
      </div>

    </div>
</div>
<br><br>
<h1 class="text-center  wow animated fadeInLeft">2k14</h1>
  <div class="k13">
    <div class="row grid team animated wow fadeInLeft">  
      <div class=" col-sm-3 col-xs-6">
        <figure class="effect">
          <img src="images/3.jpg" class="img-responsive center team-image" alt="img01"  />
          <figcaption>
            <p><b>Ankita Singh</b><br><br><br>Final Year<br><br><i  class="fa fa-facebook"><a href="https://www.facebook.com/Rashmireddy2807?fref=ts">  </a></i></p>          
          </figcaption>
        </figure>
      </div>

      <div class=" col-sm-3 col-xs-6">
        <figure class="effect">
          <img src="images/2.jpg" class="img-responsive center team-image" alt="img01"  />
          <figcaption>            
            <p><b>Srivats Sinha</b><br><br>Final Year<br><br><i  class="fa fa-facebook"><a href="https://www.facebook.com/Rashmireddy2807?fref=ts">  </a></i> </p>            
          </figcaption>
        </figure>
      </div>

      <div class=" col-sm-3 col-xs-6">
        <figure class="effect">
          <img src="images/11.jpg" alt="img01" class="img-responsive  center team-image" />
          <figcaption>
            <p><b>Kumar Chandrashek</b><br><br>Final Year<br><br><i  class="fa fa-facebook"><a href="https://www.facebook.com/Rashmireddy2807?fref=ts">  </a></i> </p>
          </figcaption>
        </figure>
      </div>

      <div class=" col-sm-3 col-xs-6">
        <figure class="effect">
          <img src="images/11.jpg" alt="img01" class="img-responsive center team-image"  />
          <figcaption>
            <p><b>Anil Gupta</b><br><br><br>Final Year<br><br><i  class="fa fa-facebook"><a href="https://www.facebook.com/Rashmireddy2807?fref=ts">  </a></i> </p>            
          </figcaption>
        </figure>
      </div>

    </div>


  </div>

  <br><br>
  <div class="k14">
    <div class="row grid team animated wow fadeInRight">  
      <div class=" col-sm-3 col-xs-6">
        <figure class="effect">
          <img src="images/15.jpg" class="img-responsive center team-image " alt="img01"  />
          <figcaption>
            <p><b>Priyanka</b><br><br><br>Pre-Final Year<br><br><i  class="fa fa-facebook"><a href="https://www.facebook.com/Rashmireddy2807?fref=ts">  </a></i></p>          
          </figcaption>
        </figure>
      </div>

      <div class=" col-sm-3 col-xs-6">
        <figure class="effect">
          <img src="images/15.jpg" class="img-responsive center team-image " alt="img01"  />
          <figcaption>            
            <p><b>S</b><br><br>Pre-Final Year<br><br><i  class="fa fa-facebook"><a href="https://www.facebook.com/Rashmireddy2807?fref=ts">  </a></i>  </p>            
          </figcaption>
        </figure>
      </div>

      <div class=" col-sm-3 col-xs-6">
        <figure class="effect">
          <img src="images/15.jpg" alt="img01" class="img-responsive  center team-image " />
          <figcaption>
            <p><b>s </b><br><br>Pre-Final Year<br><br><i  class="fa fa-facebook"><a href="https://www.facebook.com/Rashmireddy2807?fref=ts">  </a></i> </p>
          </figcaption>
        </figure>
      </div>

      <div class=" col-sm-3 col-xs-6">
        <figure class="effect">
          <img src="images/15.jpg" alt="img01" class="img-responsive center team-image "  />
          <figcaption>
            <p><b>S</b><br><br>Pre-Final Year<br><br><i  class="fa fa-facebook"><a href="https://www.facebook.com/Rashmireddy2807?fref=ts">  </a></i> </p>            
          </figcaption>
        </figure>
      </div>
    </div>
    <br>
    <br>
    <h1 class="text-center animated wow fadeInLeft">2k15</h1>

    <div class="row grid team animated wow fadeInLeft">
      <div class=" col-sm-3 col-xs-6">
        <figure class="effect">
          <img src="/images/16.jpg" class="img-responsive center team-image " alt="img01"  />
          <figcaption>
            <p><b>Saurabh</b><br><br>Pre-Final Year<br><br><br><i  class="fa fa-facebook"><a href="https://www.facebook.com/Rashmireddy2807?fref=ts">  </a></i></p>          
          </figcaption>
        </figure>
      </div>

      <div class=" col-sm-3 col-xs-6">
        <figure class="effect">
          <img src="images/12.jpg" class="img-responsive center team-image " alt="img01"  />
          <figcaption>            
            <p><b>Rani Nupur</b><br><br>Pre-Final Year<br><br><br><i  class="fa fa-facebook"><a href="https://www.facebook.com/Rashmireddy2807?fref=ts">  </a></i>  </p>            
          </figcaption>
        </figure>
      </div>

      <div class=" col-sm-3 col-xs-6">
        <figure class="effect">
          <img src="images/12.jpg" alt="img01" class="img-responsive center team-image " />
          <figcaption>
            <p><b>s</b><br><br>Pre-Final Year<br><br><br><i  class="fa fa-facebook"><a href="https://www.facebook.com/Rashmireddy2807?fref=ts">  </a></i> </p>
          </figcaption>
        </figure>
      </div>

      <div class=" col-sm-3 col-xs-6" style="height:100%;">
        <div class="">
        <p class=""> </p>
        </div>
      </div>

    </div>


  </div>


      <div class=" col-sm-3 col-xs-6" style="height:100%;">
        <div class="">
        <p class=""> </p>
        </div>
      </div>

    </div>




  </div>


 


  <script >
  

    new WOW().init();
  </script>

  </body>
</html>
