<html>
  <head>
  <title>Avion</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="javascripts/wow.min.js"></script>

<link rel="stylesheet" type="text/css" href="stylesheets/try.css">
<script src="javascripts/wow.js"></script>
<script src="javascripts/contact.js"></script>
</head>
<body>
  <div class="container-fluid">

      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      <div class="masthead">
      
        <nav>
        <div class="nav nav-justified">
          <ul class="nav nav-justified">
           <li class="active"><a href="/"><span class="  glyphicon glyphicon-home"></span> Home</a></li>
               <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-star"></span >Workshop<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li ><a href="/workshops">Workshops</a></li>
                  <li ><a href="/material">Material</a></li>
                  <li ><a href="/learning">Learning</a></li>
                </ul>
              </li>
               <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span > About Us<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li ><a href="/team">Team</a></li>
                  <li ><a href="/Alumni">Alumni</a></li>
                  <li ><a href="/contact">Contact Us</a></li>
                </ul>
              </li>
            
            
          </ul>
          </div>
        </nav>
      </div>




  <div class="container gallery">
      <div id="carousel">
     <figure><a href="/workshops"><img src="images/wk/8.jpg" style="width: 200px;height: 150px" alt=""></a></figure>
       <figure><a href="/workshops"><img src="images/wk/2.jpg" style="width: 200px;height: 150px" alt=""></a></figure>
       <figure><a href="/workshops"><img src="images/wk/3.jpg" style="width: 200px;height: 150px" alt=""></a></figure>
       <figure><a href="/workshops"><img src="images/wk/5.jpg" style="width: 200px;height: 150px" alt=""></a></figure>
       <figure><a href="/workshops"><img src="images/wk/11.jpg" style="width: 200px;height: 150px" alt=""></a></figure>
       <figure><a href="/workshops"><img src="images/wk/7.jpg" style="width: 200px;height: 150px" alt=""></a></figure>
       <figure><a href="/workshops"><img src="images/wk/9.jpg" style="width: 200px;height: 150px" alt=""></a></figure>
       <figure><a href="/workshops"><img src="images/wk/16.jpg" style="width: 200px;height: 150px" alt=""></a></figure>
      <figure>  <a href="/workshops"><img src="images/wk/6.jpg" style="width: 200px;height: 150px" alt=""></a></figure>

    </div>
  </div>


</body>
</html>