<html>
  <head>
  
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Avion</title>
  



<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="stylesheets/animate.css">
<link rel="stylesheet" type="text/css" href="stylesheets/gallery.css">
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="stylesheets/workshop.css">

</head>




 
 
  <body data-spy="scroll" data-target=".navbar" data-offset="50">
  <div class="topbar animated fadeInLeftBig"></div>
<nav class="navbar-wrapper navbar-inverse navbar-fixed-top" role="navigation" id="navbar">
      <div class="container">
          <div class="navbar-header">
          <a class="navbar-brand" href="/index" >AVION</a>
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
          </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li ><a href="/"><h3 ><span class="glyphicon glyphicon-home"></span> Home</h3></a></li>
              <li ><a href="/projects"><h3 ><span class="glyphicon glyphicon-star"></span> projects</h3></a></li>
              <li ><a href="/workshops"><h3 ><span class="glyphicon glyphicon-star"></span>workshops</h3></a></li>
               
               <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown""><h3 ><span class="glyphicon glyphicon-user"></span > About Us<b class="caret"></b></h3></a>
                <ul class="dropdown-menu">
               
                  <li ><a href="/team">Team</a></li></p>
                 <li ><a href="/Alumni">Alumni</a></li>
                 
                </ul>
              </li>

               <li ><a href="/contact"><h3 ><span class="glyphicon glyphicon-phone"></span>Contact us</h3></a></li>
            </ul>
            
            
          </div>
         </div>
         </div>
</nav>

           <br><br><br><br><br><br><br>

          <div class="container">
          <div class="row">
          <div class="col-md-2">
               </div>
                <div class="col-xs-12 col-md-8 " style="align-content:center;background-color:white">
                <br>
        <img src="images/machine.jpg" class="image img-responsive animated wowload bounceInDown" style="width: 800px;height: 500px"></img>
                    <h2 style="font-family: times;"><b>Machine Learning</b></h2><hr style="width:800px;"/>
                   
                    <p class=" wow animated fadeInUp"">Today is the generation of automation, with big leaps in research being taken towards making human life more and more comfortable by reducing redundant manual work. Artificial Intelligence is  a domain which is the current star in the modern scientific research. Team Avion, consisting of the best across all fields, is always eager to learn, grow  and remain at par with the modern technology,ready to take up all that  the world has to offer us.  We are the first team to have a dedicated set of members working on the field of Artificial Intelligence.  Being a trend setter, we orchestrated the very first Machine Learning Workshop of BIT Mesra, and where thrilled by the overwhelming response we started off with the basics of Python and quickly accelerated towards basic Machine Learning Algorithms. Our workshop was a two way interaction rather than a one way sermon where we encouraged audience participation and tried to implement lots of coding activities. The excitement of  the audience filled us with a new zeal to try more new and interesting things, and hence a lot of surprises are in store for our next workshop.</p>
            </div>
            <div class="col-md-2">
              
            </div>
            </div>
            </div>    

   <br>   
   <h3 style=" text-align:center;font-family: lucida;font-size: 60px;" class="animated wow pulse" data-wow-iteration="5"><i><strong>ML Gallery</strong></i></h3>
   <br>
   <div class="container">
   <div class="col-md-12 text-center"></div>
   <br><br><br><br>
   <div class="row">
<div class="col-md-12 ">
<div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="3000" id="myCarousel">
  <div class="carousel-inner">
    <div class="item active">
      <div class="col-md-3 col-sm-6 col-xs-12"><img  src="images/wk/5.jpg"  class="img-responsive"></div>
    </div>
    <div class="item">
      <div class="col-md-3 col-sm-6 col-xs-12"><img src="images/wk/7.jpg" class="img-responsive"></div>
    </div>
    <div class="item">
      <div class="col-md-3 col-sm-6 col-xs-12"><img src="images/wk/8.jpg" class="img-responsive"></div>
    </div>
    <div class="item">
      <div class="col-md-3 col-sm-6 col-xs-12"><img src="images/wk/9.jpg" class="img-responsive"></div>
    </div>
    <div class="item">
      <div class="col-md-3 col-sm-6 col-xs-12"><img src="images/wk/2.jpg" class="img-responsive"></div>
    </div>
    <div class="item">
      <div class="col-md-3 col-sm-6 col-xs-12"><img src="images/wk/3.jpg" class="img-responsive"></div>
    </div>
   
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
</div>
</div>
  </div>
  </div>


<br><br><br>
<br><br><br><br>


 <div class="container">
          <div class="row">
          <div class="col-md-2">
               </div>
                <div class="col-xs-12 col-md-8" style="background-color: #fff">
                <br>
                 <img src="images/wama.jpg" class="image img-responsive animated  wow bounceInLeft" style="width: 800px;height: 500px"></img>
                    <h2 style="font-family: times;"><b>Advanced Microcontroller</b></h2><hr style="width:800px;"/>
                   
                    <p class=" wow animated fadeInUp" ">Fascinated by robots?<br>

Ever heard of controlling gadgets by just a tap on your smart phone?

Ever made your own smart phone controlled robot?

Ever wanted to make a robot walk on both land and water? Have

many ideas but don’t know where to start?<br>

Well,
<br>

If you’re starting a robotics project, you need to know where to

begin. We are here to help.

Indispensability of robots starts where human interference ceases.

For example if we are required to deal with chemicals or places

hazardous to human we use a robot to do the things. For making our

lifestyle easy we need a robot. Robotics is an interdisciplinary branch

of engineering and for any Robotics engineer the journey starts with

the trigger of understanding the microcontroller and interfacing it

with sensors and hardware components. This Workshop on

Advanced Microcontroller and Hardware applications workshop

gives students all sorts of help to make them learn to build the basic

projects all by themselves.

We at Team Avion conduct this workshop once every year for the

new aspirants out there.

WAMA Workshops have been successfully organized by Team Avion

previously
<br>
<i class="glyphicon glyphicon-star"></i> UGC Sponsored Micro-Controller Based Applications (2014)
<br>
<i class="glyphicon glyphicon-star"></i>TEQIP Sponsored Advanced Microcontroller Application (2015)</p>
            </div>
            <div class="col-lg-2">
              
            </div>
            </div>
            </div>

<br><br><br>
<h3 style="text-align:center;font-family: lucida;font-size: 60px;" class="animated wow pulse" data-wow-iteration="5" ><i><strong>WAMA Gallery</strong></i></h3></div>
           <div class="container">
   <div class="col-md-12 text-center">
   <br><br><br>
   <div class="row">
<div class="col-md-12 ">
<div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="3000" id="theCarousel">
  <div class="carousel-inner">
    <div class="item active">
      <div class="col-md-3 col-sm-6 col-xs-12"><img  src="images/wk/13.jpg"  class="img-responsive"></div>
    </div>
    <div class="item">
      <div class="col-md-3 col-sm-6 col-xs-12"><img src="images/wk/11.jpg" class="img-responsive"></div>
    </div>
    <div class="item">
      <div class="col-md-3 col-sm-6 col-xs-12"><img src="images/wk/12.jpg" class="img-responsive"></div>
    </div>
    <div class="item">
      <div class="col-md-3 col-sm-6 col-xs-12"><img src="images/wk/16.jpg" class="img-responsive"></div>
    </div>
    <div class="item">
      <div class="col-md-3 col-sm-6 col-xs-12"><img src="images/wk/10.jpg" class="img-responsive"></div>
    </div>
    <div class="item">
      <div class="col-md-3 col-sm-6 col-xs-12"><img src="images/wk/14.jpg" style="height:160px; "class="img-responsive"></div>
    </div>
    <div class="item">
      <div class="col-md-3 col-sm-6 col-xs-12"><img src="images/wk/9.jpg" class="img-responsive"></div>
    </div>
    
  </div>
  <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
  <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
</div>
</div>
  </div>
  <br><br><br>
  </div>





<script src="javascripts/jquery.js"></script>
<script src="javascripts/touchswipe.js"></script>
<script src="javascripts/gallery.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/wow.min.js"></script>
  <script src="javascripts/wow.js"></script>
<script src="/javascripts/workshop.js"></script>

 
    </body>

   
    </html>